#cajaContenedor{
    background-color: blueviolet;
}
div{
    height: auto;
    width: 100px;
    background: cadetblue;
    border: black 1px solid;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#caja1{
    width: 50%;
}
#caja2{
    width: 50vw;
}
#cajaContenedor, #caja3{
    width: 100px;
    margin: 0px;
}
#caja3{
    width: 80vw;
    background: cyan;
}